<div class="todo-container">

  <mat-card class="todo-card">
    <h3>Agregar tareas</h3>

    <div class="input-section">
      <mat-form-field class="full-width" appearance="fill">
        <input matInput placeholder="Nueva tarea" [(ngModel)]="newTask" />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="addTask()">Agregar</button>
    </div>
  </mat-card>

  <div class="task-cards-container" *ngIf="tasks.length > 0">
    <h2>Lista de Tareas</h2>
    
    <mat-card class="task-card" [ngClass]="{ 'completed-card': task.completed }" *ngFor="let task of tasks; let i = index">
      <div class="task-content">
        <span [ngClass]="{ 'completed-task': task.completed }">{{ task.title }}</span>

        <div class="actions">
          
          <button mat-icon-button [color]="task.completed ? 'warn' : 'accent'" (click)="completeTask(i)">
            <mat-icon>{{ task.completed ? 'undo' : 'check_circle' }}</mat-icon>
          </button>

          
          <button mat-icon-button color="warn" (click)="deleteTask(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>

  </div>
</div>
